<link rel="stylesheet" th:href="@{/css/theme.css}">
<link rel="stylesheet" th:href="@{/css/utilities.css}">
<link rel="stylesheet" th:href="@{/css/global.css}">

<header class="topbar">
  <div class="brand">KinoXP</div>
  <nav class="tabs">
    <a class="tab" th:href="@{/}">Forside</a>
    <a class="tab" th:href="@{/billetter}">Billetter</a>
    <a class="tab" th:href="@{/movies}">Ret i film</a>
    <a class="tab" th:href="@{/mad-drikke}">Mad / Drikke</a>
    <a class="tab" th:href="@{/kalender}">Kalender</a>
    <a class="tab admin" th:href="@{/vagtplan}">Vagtplan</a>
  </nav>
  <div class="auth">
    <span>Bruger: X</span>
    <a class="btn" href="#">Log ind/ud</a>
  </div>
</header>
<main class = "page">
<h1>Ny vagt</h1>

<form th:action="@{/shifts}" th:object="${shift}" method="post">
  <label>Medarbejder</label>
  <select th:field="*{employee.id}" required>
    <option value="" disabled selected>Vælg…</option>
    <option th:each="e : ${employees}" th:value="${e.id}" th:text="${e.name}"></option>
  </select>

  <label>Dato</label>
  <input type="date" th:field="*{date}" required>

  <label>Start</label>
  <input type="time" th:field="*{startTime}" required>

  <label>Slut</label>
  <input type="time" th:field="*{endTime}" required>

  <button type="submit">Gem</button>
  <a th:href="@{/shifts}">Annullér</a>
</form>
</main>