<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Movie</title>
</head>
<body>
<h1 th:text="${movie.id} == null ? 'Ny film' : 'Rediger film'"></h1>

<form th:action="${movie.id} == null ? @{/movies} : @{|/movies/${movie.id}|}"
      th:object="${movie}" method="post">

  <div>
    <label for="title">Titel</label>
    <input id="title" th:field="*{movieTitle}" />
    <span th:if="${#fields.hasErrors('movieTitle')}" th:errors="*{movieTitle}"></span>
  </div>

  <div>
    <label for="auditorium">Sal</label>
    <input id="auditorium" th:field="*{auditorium}" />
    <span th:if="${#fields.hasErrors('auditorium')}" th:errors="*{auditorium}"></span>
  </div>

  <div>
    <label for="premiere">Premiere</label>
    <input id="premiere" type="date" th:field="*{premiereDate}" />
    <span th:if="${#fields.hasErrors('premiereDate')}" th:errors="*{premiereDate}"></span>
  </div>

  <div>
    <label for="endDate">Slutdato</label>
    <input id="endDate" type="date" th:field="*{endDate}" />
    <span th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></span>
  </div>

  <div>
    <label for="price">Pris</label>
    <input id="price" type="number" th:field="*{price}" />
    <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
  </div>

  <div>
    <button type="submit">Gem</button>
  </div>
</form>

<a th:href="@{/movies}">Tilbage til oversigt</a>

</body>
</html>
